<div class="tamanho_min">
  <mat-card>
    <h1>Sobre o autor</h1>

    <h3> Conhecimentos </h3>

    <mat-card-content>
      <p>Linguagens de programação:</p>
      <uL>
        <li>DOT.NET(C# E VB.NET)</li>
        <li>COBOL</li>
        <li>JAVASCRIPT</li>
      </uL>
    </mat-card-content>
    <mat-card-content>
      <p>Linguagem de Marcação de HiperTexto</p>
      <ul>
        <li>HTML</li>
      </ul>
    </mat-card-content>
    <mat-card-content>
      <p>linguagem de estilos</p>
      <ul>
        <li>CSS</li>
      </ul>
    </mat-card-content>
    <mat-card-content>
      <p>Banco de dados</p>
      <ul>
        <li>SQL SERVER</li>
        <li>MYSQL</li>
        <li>FIREBIRD</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<a mat-list-item routerLink="/">
  <button mat-flat-button color="primary" class="VoltarHome">
    <i class="material-icons">home</i>
    Home
  </button>
</a>
